Informatii/** linguist-vendored

CMakeLists.txt linguist-vendored
cmake/** linguist-vendored

*.txt linguist-vendored
*.md linguist-vendored
scripts/** linguist-vendored
.github/** linguist-vendored
.clang-tidy linguist-vendored
